# Python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
.env
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
sbin/
lib/
lib64/
.pydev_modules/

# Installation
develop-eggs/
pip-log.txt
pip-delete-this.txt
.tox/
.coverage
.coverage*
*.mo

# Unit test / coverage reports
nosetests.xml
*.cover
*.py,cover
.cache
*.orig
*.rej

# Jupyter Notebook
.ipynb_checkpoints

# OS

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac OS
.DS_Store
._*

# IDEs and Editors

# VS Code
.vscode/
*.code-workspace

# IntelliJ IDEA
.idea/
*.iml

# PyCharm
*.iws

# Other
*.log
*.sqlite
*.swp
*~
\#*
.DS_Store

# Temp files
tmp/
temp/
*.tmp

# Environment variables
.env